
.vscode
personal_assistant_perchik/personal_assistant_perchik/__pycache__
notes.pickle
personal_assistant_perchik/personal_assistant_perchik/AddressBook.json
personal_assistant_perchik/personal_assistant_perchik.egg-info
personal_assistant_perchik/personal_assistant_perchik/test.py
